
    <form method='post' action='../../createquestionnext/<%=recruiter[0].id%>'>
      <h3>Question # <%=q.i%></h3>
      <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" id="question" name='question' rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="correct">Correct Answer</label>
        <input type="text" class="form-control" name='correct' id="correct">
      </div>
      <div class="form-group">
        <label for="icone">Incorrect Answer</label>
        <input type="text" class="form-control" name='icone' id="icone">
      </div>
      <div class="form-group">
        <label for="ictwo">Incorrect Answer</label>
        <input type="text" class="form-control" name='ictwo' id="ictwo">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
