    <form method='post' action='../../create/questionnext/<%=user.recruiter_id%>'>
      <h3>Question # <%=q.i%></h3>
      <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" id="question" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="correct">Correct Answer</label>
        <input type="text" class="form-control" id="correct">
      </div>
      <div class="form-group">
        <label for="icone">Incorrect Answer</label>
        <input type="text" class="form-control" id="icone">
      </div>
      <div class="form-group">
        <label for="ictwo">Incorrect Answer</label>
        <input type="text" class="form-control" id="ictwo">
      </div>
      <div class="form-group">
        <label for="icthree">Incorrect Answer</label>
        <input type="text" class="form-control" id="icthree">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
