<div class="dash-item">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Result</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Horacio</th>
          <td>Mark@mark</td>
          <td>3/10</td>
          <td><div class="status-complete">Completed</div></td>
        </tr>
        <tr>
          <th scope="row">Mark</th>
          <td>Mark@mark</td>
          <td>3/10</td>
          <td><div class="status-notstarted">Not Started</div></td>
        </tr>
        <tr>
          <th scope="row">James</th>
          <td>Mark@mark</td>
          <td>3/10</td>
          <td><div class="status-started">Not Complete</div></td>
        </tr>
      </tbody>
    </table>
</div>
