<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="logo-link" href="/"><div class="logo"><strong>SKILL</strong>TEST</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="form-inline my-2 my-lg-0">
        <a class="nav-item-right" href="/">Home</a>
        <a class="nav-item-right" href="/login">Login</a>
        <a class="nav-item-right" href="/register">Signup</a>
        <div class="nav-item-right nav-item dropdown">
          <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
          <ul class="dropdown-menu nav-item">
            <li><a href="#">Basic Use</a></li>
            <li><a href="#">Working With Data</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Troubleshooting</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>