<div class="dash-item">
  
    <table class="table">
        <button type="button" class="btn purple-btn">Create Test</button>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"># of Questions</th>
            <th scope="col">Date Created</th>
            <th scope="col">Test Code</th>
            <th scope="col">Test Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Javascript</th>
            <td>10</td>
            <td>6/17/2019</td>
            <td>fj8249jwfa</td>
            <td><a>http://localhost/testid</a></td>
          </tr>
          <tr>
            <th scope="row">Javascript</th>
            <td>10</td>
            <td>6/17/2019</td>
            <td>fj8249jwfa</td>
            <td><a>http://localhost/testid</a></td>
          </tr>
          <tr>
            <th scope="row">Javascript</th>
            <td>10</td>
            <td>6/17/2019</td>
            <td>fj8249jwfa</td>
            <td><a>http://localhost/testid</a></td>
          </tr>
        </tbody>
      </table>
  </div>
  