<div class="dash-item">
  
    <table class="table">
        <button type="button" class="btn purple-btn">Create Test</button>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"># of Questions</th>
            <th scope="col">Date Created</th>
            <th scope="col">Test Code</th>
            <th scope="col">Test Link</th>
          </tr>
        </thead>
        <tbody>
         <% for(let i =0; i < test.length; i++){%>
          <tr>
            <th scope="row"><%=test[i].name%></th>
            <td><%=test[i].total%></td>
            <td><%=test[i].created_at%></td>
            <td><%=test[i].code%></td>
            <td><a>http://localhost/</a></td>
          </tr>
        <% } %>
        </tbody>
      </table>
  </div>
  