<% if (result[0].name) { %>
  <div class="user-chart">
    <h5>Tests Completed %</h5>
    <canvas id="test-chart">Your browser does not support the canvas feature.</canvas>
  </div>  
<% } %>

<script type="text/javascript">

  var canvas = document.getElementById("test-chart");
  var ctx = canvas.getContext("2d");
  var result = <%- JSON.stringify(result); %>;
  var labels = result.map(test => { return test.name });
  var correct = result.map(test => {return ((test.correct / test.total) * 100)});
  console.log(Object.values(correct))
  console.log(result[0].correct)

  var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Correct Answers',
              data: Object.values(correct),
              backgroundColor: "rgb(15, 56, 191, 0.5)"
          }]
      },
      options: {
        responsive: false,
        maintainAspectRatio: true,
        scale: {
          ticks: {
            beginAtZero: true,
            min: 0,
            max: 100,
            stepSize: 50
          },
          pointLabels: {
            fontSize: 15
          }
        },
        legend: {
          position: 'center'
        }

      }
  });
</script>