.nav-item-right {
  padding: 0 5px 0 0;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #fff 0%, #f7ecff 46%, #d2ecff 74%, #fff 100%);
  justify-content: center;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginform input, #regform input {
  width: 90%;
  margin: 5px;
  padding: 15px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.board {
  background: linear-gradient(180deg, #42548E 0%, #6B668C 100%);
  width: 400px;
  height: auto;
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  box-shadow: 0 10px 20px rgba(74,115,159,0.29);
  cursor: default;
  font-size: 1.5rem;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 18px;
  text-align: left;
}
h1 {
  margin: 0 0 10px 5px;
  color: white;
  text-shadow: 20px;
}
form .btn {
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #A2548A;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
form .btn:hover {
  transition-duration: 1s;
  background-color: rgb(130, 130, 130);
}