.button-edit {
    float: right;
    margin-top: -40px;
}

.dash-item {
    padding: 10px
}

.dash-item h4 {
    text-align: center;
    padding-bottom: 20px;
}

.dash-item h5 {
    padding: 5px 0 5px 0;
}

.questions-div {
    padding-top: 20px;
}

.total-number {
    text-align: center;
    margin-top: 20px;
}

.total-number {
    border: solid white 5px;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 0 auto;
    font-size: 50px;
}

.col-4 h5 {
    text-align: center;
}

.code-container {
    text-align: center;
    padding-top: 25px;
}

.code-containter {
    text-align: center;
}

#p1 {
    margin: 0;
    font-weight: bold;
}

.clone-btn {
    cursor: pointer;
}

.time-updated-created-container p {
    margin: 0;
    text-align: center;
}

.time-updated-created-container h5:nth-of-type(2) {
    padding-top: 20px;
}

.btn-delete-container {
    text-align: center;
    padding-top: 40px;
}

.btn-submit-question {
    float: right;
    margin-bottom: 20px;
}

.btn-question-edit-delete {
    float: right;
    margin-bottom: 20px;
}