<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/testPage.css">
    <title>Skill Test</title>
  </head>

   <style>
   body{
       text-align: center;
   }
    img {
        height: 100%;
    }
  </style>
  
  <body>
          <img src="/assets/img/404.png">
  </body>
</html>