<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Skill Test</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <% include ../partials/sidebar %>
    <div class="main">

    </div>
    <% include ../partials/bs %>
  </body>
</html>

