<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Skill Test</title>
  </head>
  
  <body>
    <% include ../partials/nav %>
    
    <div class="dash-main">
      <% include ../partials/sidebar %>
        <div class="app">
          Dashboard
        </div>
    </div>
    <% include ../partials/bs %>
  </body>
  <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;
      
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
      }
      </script>
</html>

