<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <title>Skill Test</title>
  </head>
  <body>
    <header>
      <% include ../partials/nav.ejs %>
    </header>
    <div class="jumbotron">
      <h1 class="display-4">Find top talent for the future of your company!</h1>
      <p class="lead">Create simple tests that check for the skills that you need!  Never wonder if a candidate has the right skills again.</p>
      <hr class="my-4">
      <p>Create a free account to get started today!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Me Up!</a>
    </div>

    <% include ../partials/bs.ejs %>
  </body>
</html>
