<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title></title>
  </head>
  <body>
    <div class='main'>
      <div class='board user-form'>
    <form method="post" action="/taketest/start/<%=result[0].id%>">
      <input type="email" name="email" placeholder='Please enter your email here'>
      <input type="submit" value="submit">
    </form>
  </div>
</div>
  </body>
</html>
